Kubernetes internal kube-dns not working with zalenium latest

Zalenium Image Version(s):  
3.12.0c (not working)
3.11.0h (working)

If using Kubernetes, specify your environment, and if relevant your manifests:  
1.8.3
## Details - 

I have zalenium deployed to the same Kubernetes namespace as my test runner machines. With version 3.11.0h, I was able to use kube-dns which resolved my service name `zalenium`. When I tried to upgrade to 3.12.0c, this stopped working and I get an immediate connection refused within my test.

Example command that works with 3.11.0h but does not with 3.12.0c `py.test --base-url https://google.com --capability browserName chrome --capability resolution 1440x1440 --driver Remote --host USER_REDACTED:PASSWORD_REDACTED@zalenium --variables cap_chrome_iphone.json tests/test_google.py`

Service manifest: 
```yml
apiVersion: v1
kind: Service
metadata:
  name: zalenium
  namespace: ci
  labels:
    name: zalenium
    env: ci
spec:
  type: LoadBalancer
  ports:
    - name: http
      port: 80
      targetPort: 4444
    - name: zalenium
      port: 4444
      targetPort: 4444
  selector:
    app: zalenium
```

## Expected Behavior -
I can use kube-dns when I upgrade.

## Actual Behavior -
I need to use public dns to reach my hub. (This seems to be resulting in connection drops/slow video uploads.)


@pearj thanks for the response. I think I may have confused the issue by saying it's related to dns, I'm not sure about that. I did more testing today and the same command that works for 3.12.0a does not work for 3.12.0b. Starting on 3.12.0b I get a connection refused error.

`py.test -rws -k chrome_iphone --base-url https://better.com --capability browserName chrome --c
apability resolution 1440x1440 --driver Remote --host REDACTED:REDACTED@zalenium --html=test-report-chrome_iphone.html --self-contained-html`

Full error is:
```
======================================================================================= test session starts ========================================================================================
platform linux -- Python 3.6.3, pytest-3.5.0, py-1.5.3, pluggy-0.6.0
driver: Remote
sensitiveurl: \b(http|https):\/\/better\.com *** WARNING: sensitive url matches https://better.com ***
baseurl: https://better.com
rootdir: /buildkite/builds/buildkite-agent-2495154159-k84ph/better/selenium-cross-browser/mortgage/selenium, inifile: pytest.ini
plugins: xdist-1.22.2, variables-1.7.1, timeout-1.2.1, selenium-1.12.0, rerunfailures-4.0, metadata-1.7.0, html-1.17.0, forked-0.2, base-url-1.4.1
timeout: 180.0s method: signal
collected 69 items / 68 deselected

tests/homepage/test_home_page_cta.py E                                                                                                                                                       [100%]

============================================================================================== ERRORS ==============================================================================================
___________________________________________________________________________ ERROR at setup of test_home_page_cta_mobile ____________________________________________________________________________

self = <urllib.request.HTTPHandler object at 0x7fc118e41f60>, http_class = <class 'http.client.HTTPConnection'>
req = <selenium.webdriver.remote.remote_connection.Request object at 0x7fc118e41a20>, http_conn_args = {}, host = 'zalenium:4444', h = <http.client.HTTPConnection object at 0x7fc118e417f0>

    def do_open(self, http_class, req, **http_conn_args):
        """Return an HTTPResponse object for the request, using http_class.

            http_class must implement the HTTPConnection API from http.client.
            """
        host = req.host
        if not host:
            raise URLError('no host given')

        # will parse host:port
        h = http_class(host, timeout=req.timeout, **http_conn_args)
        h.set_debuglevel(self._debuglevel)

        headers = dict(req.unredirected_hdrs)
        headers.update(dict((k, v) for k, v in req.headers.items()
                            if k not in headers))

        # TODO(jhylton): Should this be redesigned to handle
        # persistent connections?

        # We want to make an HTTP/1.1 request, but the addinfourl
        # class isn't prepared to deal with a persistent connection.
        # It will try to read all remaining data from the socket,
        # which will block while the server waits for the next request.
        # So make sure the connection gets closed after the (only)
        # request.
        headers["Connection"] = "close"
        headers = dict((name.title(), val) for name, val in headers.items())

        if req._tunnel_host:
            tunnel_headers = {}
            proxy_auth_hdr = "Proxy-Authorization"
            if proxy_auth_hdr in headers:
                tunnel_headers[proxy_auth_hdr] = headers[proxy_auth_hdr]
                # Proxy-Authorization should not be sent to origin
                # server.
                del headers[proxy_auth_hdr]
            h.set_tunnel(req._tunnel_host, headers=tunnel_headers)

        try:
            try:
                h.request(req.get_method(), req.selector, req.data, headers,
>                         encode_chunked=req.has_header('Transfer-encoding'))

/usr/lib/python3.6/urllib/request.py:1318:
_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _

self = <http.client.HTTPConnection object at 0x7fc118e417f0>, method = 'POST', url = '/wd/hub/session'
body = b'{"capabilities": {"firstMatch": [{}], "alwaysMatch": {"browserName": "chrome", "goog:chromeOptions": {"extensions": ..."resolution": "1440x1440", "name": "test_home_page_cta_mobile", "goog:chromeOptions": {"extensions": [], "args": []}}}'
headers = {'Accept': 'application/json', 'Authorization': 'Basic emFsZW5pdW0taHViOlZHN0p0ZFQyVkVUMDJNbW9wWmFiUzg1c29YQUlHNUNC', 'Connection': 'close', 'Content-Length': '302', ...}

    def request(self, method, url, body=None, headers={}, *,
                encode_chunked=False):
        """Send a complete request to the server."""
>       self._send_request(method, url, body, headers, encode_chunked)

/usr/lib/python3.6/http/client.py:1239:
_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _

self = <http.client.HTTPConnection object at 0x7fc118e417f0>, method = 'POST', url = '/wd/hub/session'
body = b'{"capabilities": {"firstMatch": [{}], "alwaysMatch": {"browserName": "chrome", "goog:chromeOptions": {"extensions": ..."resolution": "1440x1440", "name": "test_home_page_cta_mobile", "goog:chromeOptions": {"extensions": [], "args": []}}}'
headers = {'Accept': 'application/json', 'Authorization': 'Basic emFsZW5pdW0taHViOlZHN0p0ZFQyVkVUMDJNbW9wWmFiUzg1c29YQUlHNUNC', 'Connection': 'close', 'Content-Length': '302', ...}
encode_chunked = False

    def _send_request(self, method, url, body, headers, encode_chunked):
        # Honor explicitly requested Host: and Accept-Encoding: headers.
        header_names = frozenset(k.lower() for k in headers)
        skips = {}
        if 'host' in header_names:
            skips['skip_host'] = 1
        if 'accept-encoding' in header_names:
            skips['skip_accept_encoding'] = 1

        self.putrequest(method, url, **skips)

        # chunked encoding will happen if HTTP/1.1 is used and either
        # the caller passes encode_chunked=True or the following
        # conditions hold:
        # 1. content-length has not been explicitly set
        # 2. the body is a file or iterable, but not a str or bytes-like
        # 3. Transfer-Encoding has NOT been explicitly set by the caller

        if 'content-length' not in header_names:
            # only chunk body if not explicitly set for backwards
            # compatibility, assuming the client code is already handling the
            # chunking
            if 'transfer-encoding' not in header_names:
                # if content-length cannot be automatically determined, fall
                # back to chunked encoding
                encode_chunked = False
                content_length = self._get_content_length(body, method)
                if content_length is None:
                    if body is not None:
                        if self.debuglevel > 0:
                            print('Unable to determine size of %r' % body)
                        encode_chunked = True
                        self.putheader('Transfer-Encoding', 'chunked')
                else:
                    self.putheader('Content-Length', str(content_length))
        else:
            encode_chunked = False

        for hdr, value in headers.items():
            self.putheader(hdr, value)
        if isinstance(body, str):
            # RFC 2616 Section 3.7.1 says that text default has a
            # default charset of iso-8859-1.
            body = _encode(body, 'body')
>       self.endheaders(body, encode_chunked=encode_chunked)

/usr/lib/python3.6/http/client.py:1285:
_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _

self = <http.client.HTTPConnection object at 0x7fc118e417f0>
message_body = b'{"capabilities": {"firstMatch": [{}], "alwaysMatch": {"browserName": "chrome", "goog:chromeOptions": {"extensions": ..."resolution": "1440x1440", "name": "test_home_page_cta_mobile", "goog:chromeOptions": {"extensions": [], "args": []}}}'

    def endheaders(self, message_body=None, *, encode_chunked=False):
        """Indicate that the last header line has been sent to the server.

            This method sends the request to the server.  The optional message_body
            argument can be used to pass a message body associated with the
            request.
            """
        if self.__state == _CS_REQ_STARTED:
            self.__state = _CS_REQ_SENT
        else:
            raise CannotSendHeader()
>       self._send_output(message_body, encode_chunked=encode_chunked)

/usr/lib/python3.6/http/client.py:1234:
_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _

self = <http.client.HTTPConnection object at 0x7fc118e417f0>
message_body = b'{"capabilities": {"firstMatch": [{}], "alwaysMatch": {"browserName": "chrome", "goog:chromeOptions": {"extensions": ..."resolution": "1440x1440", "name": "test_home_page_cta_mobile", "goog:chromeOptions": {"extensions": [], "args": []}}}'
encode_chunked = False

    def _send_output(self, message_body=None, encode_chunked=False):
        """Send the currently buffered request and clear the buffer.

            Appends an extra \\r\\n to the buffer.
            A message_body may be specified, to be appended to the request.
            """
        self._buffer.extend((b"", b""))
        msg = b"\r\n".join(self._buffer)
        del self._buffer[:]
>       self.send(msg)

/usr/lib/python3.6/http/client.py:1026:
_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _

self = <http.client.HTTPConnection object at 0x7fc118e417f0>
data = b'POST /wd/hub/session HTTP/1.1\r\nAccept-Encoding: identity\r\nContent-Length: 302\r\nHost: zalenium:4444\r\nAccept: ...auth\r\nAuthorization: Basic emFsZW5pdW0taHViOlZHN0p0ZFQyVkVUMDJNbW9wWmFiUzg1c29YQUlHNUNC\r\nConnection: close\r\n\r\n'

    def send(self, data):
        """Send `data' to the server.
            ``data`` can be a string object, a bytes object, an array object, a
            file-like object that supports a .read() method, or an iterable object.
            """

        if self.sock is None:
            if self.auto_open:
>               self.connect()

/usr/lib/python3.6/http/client.py:964:
_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _

self = <http.client.HTTPConnection object at 0x7fc118e417f0>

    def connect(self):
        """Connect to the host and port specified in __init__."""
        self.sock = self._create_connection(
>           (self.host,self.port), self.timeout, self.source_address)

/usr/lib/python3.6/http/client.py:936:
_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _

address = ('zalenium', 4444), timeout = <object object at 0x7fc12171e500>, source_address = None

    def create_connection(address, timeout=_GLOBAL_DEFAULT_TIMEOUT,
                          source_address=None):
        """Connect to *address* and return the socket object.

        Convenience function.  Connect to *address* (a 2-tuple ``(host,
        port)``) and return the socket object.  Passing the optional
        *timeout* parameter will set the timeout on the socket instance
        before attempting to connect.  If no *timeout* is supplied, the
        global default timeout setting returned by :func:`getdefaulttimeout`
        is used.  If *source_address* is set it must be a tuple of (host, port)
        for the socket to bind as a source address before making the connection.
        A host of '' or port 0 tells the OS to use the default.
        """

        host, port = address
        err = None
        for res in getaddrinfo(host, port, 0, SOCK_STREAM):
            af, socktype, proto, canonname, sa = res
            sock = None
            try:
                sock = socket(af, socktype, proto)
                if timeout is not _GLOBAL_DEFAULT_TIMEOUT:
                    sock.settimeout(timeout)
                if source_address:
                    sock.bind(source_address)
                sock.connect(sa)
                # Break explicitly a reference cycle
                err = None
                return sock

            except error as _:
                err = _
                if sock is not None:
                    sock.close()

        if err is not None:
>           raise err

/usr/lib/python3.6/socket.py:724:
_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _

address = ('zalenium', 4444), timeout = <object object at 0x7fc12171e500>, source_address = None

    def create_connection(address, timeout=_GLOBAL_DEFAULT_TIMEOUT,
                          source_address=None):
        """Connect to *address* and return the socket object.

        Convenience function.  Connect to *address* (a 2-tuple ``(host,
        port)``) and return the socket object.  Passing the optional
        *timeout* parameter will set the timeout on the socket instance
        before attempting to connect.  If no *timeout* is supplied, the
        global default timeout setting returned by :func:`getdefaulttimeout`
        is used.  If *source_address* is set it must be a tuple of (host, port)
        for the socket to bind as a source address before making the connection.
        A host of '' or port 0 tells the OS to use the default.
        """

        host, port = address
        err = None
        for res in getaddrinfo(host, port, 0, SOCK_STREAM):
            af, socktype, proto, canonname, sa = res
            sock = None
            try:
                sock = socket(af, socktype, proto)
                if timeout is not _GLOBAL_DEFAULT_TIMEOUT:
                    sock.settimeout(timeout)
                if source_address:
                    sock.bind(source_address)
>               sock.connect(sa)
E               ConnectionRefusedError: [Errno 111] Connection refused

/usr/lib/python3.6/socket.py:713: ConnectionRefusedError

During handling of the above exception, another exception occurred:

request = <SubRequest 'driver' for <Function 'test_home_page_cta_mobile'>>, driver_class = <class 'selenium.webdriver.remote.webdriver.WebDriver'>
driver_kwargs = {'browser_profile': None, 'command_executor': 'http:/REDACTED:REDACTED@zalenium:4444/wd/h... 'goog:chromeOptions': {'args': [], 'extensions': []}, 'name': 'test_home_page_cta_mobile', 'resolution': '1440x1440'}}

    @pytest.yield_fixture
    def driver(request, driver_class, driver_kwargs):
        """Returns a WebDriver instance based on options and capabilities"""
>       driver = driver_class(**driver_kwargs)

/usr/lib/python3.6/site-packages/pytest_selenium/pytest_selenium.py:130:
_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _
/usr/lib/python3.6/site-packages/selenium/webdriver/remote/webdriver.py:154: in __init__
    self.start_session(desired_capabilities, browser_profile)
/usr/lib/python3.6/site-packages/selenium/webdriver/remote/webdriver.py:243: in start_session
    response = self.execute(Command.NEW_SESSION, parameters)
/usr/lib/python3.6/site-packages/selenium/webdriver/remote/webdriver.py:310: in execute
    response = self.command_executor.execute(driver_command, params)
/usr/lib/python3.6/site-packages/selenium/webdriver/remote/remote_connection.py:466: in execute
    return self._request(command_info[0], url, body=data)
/usr/lib/python3.6/site-packages/selenium/webdriver/remote/remote_connection.py:528: in _request
    resp = opener.open(request, timeout=self._timeout)
/usr/lib/python3.6/urllib/request.py:526: in open
    response = self._open(req, data)
/usr/lib/python3.6/urllib/request.py:544: in _open
    '_open', req)
/usr/lib/python3.6/urllib/request.py:504: in _call_chain
    result = func(*args)
/usr/lib/python3.6/urllib/request.py:1346: in http_open
    return self.do_open(http.client.HTTPConnection, req)
_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _

self = <urllib.request.HTTPHandler object at 0x7fc118e41f60>, http_class = <class 'http.client.HTTPConnection'>
req = <selenium.webdriver.remote.remote_connection.Request object at 0x7fc118e41a20>, http_conn_args = {}, host = 'zalenium:4444', h = <http.client.HTTPConnection object at 0x7fc118e417f0>

    def do_open(self, http_class, req, **http_conn_args):
        """Return an HTTPResponse object for the request, using http_class.

            http_class must implement the HTTPConnection API from http.client.
            """
        host = req.host
        if not host:
            raise URLError('no host given')

        # will parse host:port
        h = http_class(host, timeout=req.timeout, **http_conn_args)
        h.set_debuglevel(self._debuglevel)

        headers = dict(req.unredirected_hdrs)
        headers.update(dict((k, v) for k, v in req.headers.items()
                            if k not in headers))

        # TODO(jhylton): Should this be redesigned to handle
        # persistent connections?

        # We want to make an HTTP/1.1 request, but the addinfourl
        # class isn't prepared to deal with a persistent connection.
        # It will try to read all remaining data from the socket,
        # which will block while the server waits for the next request.
        # So make sure the connection gets closed after the (only)
        # request.
        headers["Connection"] = "close"
        headers = dict((name.title(), val) for name, val in headers.items())

        if req._tunnel_host:
            tunnel_headers = {}
            proxy_auth_hdr = "Proxy-Authorization"
            if proxy_auth_hdr in headers:
                tunnel_headers[proxy_auth_hdr] = headers[proxy_auth_hdr]
                # Proxy-Authorization should not be sent to origin
                # server.
                del headers[proxy_auth_hdr]
            h.set_tunnel(req._tunnel_host, headers=tunnel_headers)

        try:
            try:
                h.request(req.get_method(), req.selector, req.data, headers,
                          encode_chunked=req.has_header('Transfer-encoding'))
            except OSError as err: # timeout error
>               raise URLError(err)
E               urllib.error.URLError: <urlopen error [Errno 111] Connection refused>

/usr/lib/python3.6/urllib/request.py:1320: URLError
```

There is no logging on the zalenium side with version 3.12.0b.

Same exact command with 3.12.0a deployed:

```
py.test -rws -k chrome_iphone --base-url https://better.com --capability browserName chrome --c
apability resolution 1440x1440 --driver Remote --host REDACTED:REDACTED@zalenium --html=test-report-chrome_iphone.html --self-contained-html
======================================================================================= test session starts ========================================================================================
platform linux -- Python 3.6.3, pytest-3.5.0, py-1.5.3, pluggy-0.6.0
driver: Remote
sensitiveurl: \b(http|https):\/\/better\.com *** WARNING: sensitive url matches https://better.com ***
baseurl: https://better.com
rootdir: /buildkite/builds/buildkite-agent-2495154159-k84ph/better/selenium-cross-browser/mortgage/selenium, inifile: pytest.ini
plugins: xdist-1.22.2, variables-1.7.1, timeout-1.2.1, selenium-1.12.0, rerunfailures-4.0, metadata-1.7.0, html-1.17.0, forked-0.2, base-url-1.4.1
timeout: 180.0s method: signal
collected 69 items / 68 deselected

tests/homepage/test_home_page_cta.py .                                                                                                                                                       [100%]

---------------------- generated html file: /buildkite/builds/buildkite-agent-2495154159-k84ph/better/selenium-cross-browser/mortgage/selenium/test-report-chrome_iphone.html ----------------------
============================================================================= 1 passed, 68 deselected in 28.01 seconds =============================================================================
```

What about the zalenium container logs? It's usually fairly noisy, so I'd be surprised if there wasn't a reason in there.

Just tried this again with 3.12.0d and the problem still occurs for me with that version. As far as logs, I don't see any entries in any zalenium logs. The connection refused maybe is coming before it even gets to zalenium.

I'm still running version 3.11.0h because that version works for me. That part is the strangest because all I do is bump up the version, no other config changes and I can get this to happen.

Thanks @pearj I'll check out your service config and see if I need to add anything to mine.

@pearj - this is working for me now. Thank you for all your help. I'll close this.

It turned out in my service spec I was missing the `role: hub` in the selector. This probably worked on the version I had, before the readiness probe was fixed, because the nodes were seen as down and not selected normally.